
  <div class="card" >
    <div class="card-body" >
        <blockquote class="blockquote mb-0 card-body">
          <h5>Neighbourhoods</h5>
          <table class="table table-striped" style="font-size: 15px;">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Occupants</th>
                <th scope="col">Location</th>
                <!-- <th scope="col">Businesses</th> -->
                <th scope="col">Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let neighbourhood of neighbourhoods; index as i">
                <!-- <th scope="row"><a routerLink="/user/{{ i }}">View</a></th> -->
                <td>{{neighbourhood.name }}</td>
                <td>{{ neighbourhood.occupants }}</td>
                <td>{{ neighbourhood.location }}</td>
                <td>{{neighbourhood.emergencyNo}}</td>
                <td><a href="" data-toggle="modal" data-target="#deleteProfile">Delete Neighbourhood</a></td>
                <td><a href="" data-toggle="modal" data-target="">Edit Neighbourhood Information</a></td>
                <!-- Modal -->
            <div class="modal fade" id="deleteProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">  
                            <h5 class="bolden"></h5>                                                      
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>                            
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this neighbourhood??</p>
                        </div>
                        <div class="modal-footer">
                            <a href=""><button type="button" class="btn btn-primary" (click)="neighbourhoodDelete(true)">I'm sure</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                            
                        </div>
                    </div>
                </div>
            </div>  

              </tr>
            </tbody>
          </table>
          </blockquote>

    </div>

</div>