<!-- <app-nav-bar></app-nav-bar>
<div class="container-fluid">
    
    <div class="top">
        
        
  
        <div style="padding-top: 3%;"><object data="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                type="image/png" >
                <img class="img-thumbnail" src="" alt="...">
            </object> </div>
        
        <div class="card">
            <div class="name">
                <span>NAME :</span> <br><br><span>ROLE :</span><br><br><span>NEIGHBOURHOOD :</span><br><br><span>BIO:
                    </span> </div>
        </div>
        -->