<div class="bg-img">
<div class="container">
    <h3 class="text-center" style="padding-top: 2%;">Sign Up</h3>
    <form (ngSubmit)="onRegister()">
        <div class="form-group">
            <label for="first"><b>First Name</b></label>
            <input type="text" class="form-control" required [(ngModel)]="user.FirstName" name="FirstName">
        </div>
        <div class="form-group">
            <label for="Last"><b>Last Name</b></label>
            <input type="text" class="form-control" required [(ngModel)]="user.LastName" name="LastName">
        </div>
        <div class="form-group">
            <label for="Username"><b>Username</b></label>
            <input type="text" class="form-control" required [(ngModel)]="user.UserName" name="UserName">
        </div>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="text" class="form-control" required [(ngModel)]="user.Email" name="Email">
        </div>
        <div class="form-group">
            <label for="psw"><b>Password</b></label>
            <input type="password"  name="psw" required>
        
        </div>
        <button style="width: 100%; margin-top: 1%; margin-bottom: 5%;"
      type="button"
      
      class="btn btn-primary">
      Signup
    </button>
        <p class="text-center" > Have an account? <a href="/login" style="color:#384997;">Sign in here</a></p> 

    </form>
</div>

